
<div id="content" class="p-5 active2 text-white">
    <h1 class="text-center">Portales a tus Sitios Web</h1>
    <div class="container">
        <div class="row row-cols-lg-4 wrapper">
            {{#each links}}
            <div class="card-body text-center border border-white m-2 rounded">
                <h2 class="card-title">{{sitename}}</h2>
                <p class="card-text">{{description}}</p>
                <a href="{{URL}}" target="_blank" class="btn btn-primary">Ir al sitio</a>
                <a href="/delete/{{id}}"><i class="btn btn-secondary bi-trash" width="16" height="16"></i></a>
            </div>
            {{/each}}
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

{{#if " alert != 'undefined' " }}
    <script>
        Swal.fire({
            title: '{{alertTitle}}',
            text: '{{alertMessage}}',
            icon: '{{alertIcon}}',
            showConfirmButton: {{showConfirmButton}},
            timer: {{timer}}
        }).then(() => {
                window.location = '/{{ruta}}'
            })
    </script>
{{/if}}